#include "winver.h"
IDI_ICON1 ICON DISCARDABLE "res/images/wally.ico"
VS_VERSION_INFO VERSIONINFO
FILEVERSION 2,4,5,0
PRODUCTVERSION 2,4,5,0
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE 0
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904E4"
    {
      VALUE "CompanyName",      "BeCrux, http://www.becrux.com"
      VALUE "FileDescription",  "Wally - Qt4 Wallpaper Changer"
      VALUE "FileVersion",      "2.4.5"
      VALUE "InternalName",     "Wally"
      VALUE "LegalCopyright",   "GNU GPLv2 BeCrux 2009"
      VALUE "LegalTrademarks1", ""
      VALUE "LegalTrademarks2", ""
      VALUE "OriginalFilename", "wally.exe"
      VALUE "ProductName",      "Wally"
      VALUE "ProductVersion",   "2.4.5"
    }
  }

  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x409, 1252
  }
}
