<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSUIElement</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleExecutable</key>
	<string>Wally</string>
	<key>CFBundleGetInfoString</key>
	<string>Qt4 wallpaper changer</string>
	<key>CFBundleIconFile</key>
	<string>wally.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.BeCrux.Wally</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.4.4</string>
	<key>CFBundleVersion</key>
	<string>2.4.4</string>
	<key>CFBundleSignature</key>
	<string></string>
	<key>NOTE</key>
	<string>Author: Antonio Di Monaco</string>
	<key>NSUIElement</key>
	<string>1</string>
</dict>
</plist>
